/* .user-png{
    width: 30px;
    height: 30px;
} */
.navbar-brand{
    color: rgb(219, 18, 18);
    font-size: 20px;
   
    font-weight: bold;

}
.btn-nav{
    background:rgb(219, 18, 18);
    border-radius: 8px;
    color: white !important;
    font-weight: bold;

}